DISCORD_TOKEN=PUT_YOUR_BOT_TOKEN_HERE
CLIENT_ID=PUT_APPLICATION_ID_HERE
GUILD_ID=PUT_YOUR_DISCORD_SERVER_ID_HERE

# Railway MySQL variables - use Variable References where possible
MYSQLHOST=mysql.railway.internal
MYSQLPORT=3306
MYSQLUSER=root
MYSQLPASSWORD=YOUR_RAILWAY_MYSQL_PASSWORD
MYSQLDATABASE=railway

FIVEM_HOST=151.242.16.51
FIVEM_PORT=30120

CFX_JOIN_CODE=qqqyey6
